In [1]:
from sqlalchemy import create_engine
import sqlalchemy as db
import pandas as pd

server= 'LAPTOP-JCH0P14A\SQLEXPRESS'
database= 'Customer_Churn_Prediction'
driver= 'ODBC Driver 17 for SQL Server'

conn_str = f'mssql://@{server}/{database}?driver={driver}'

engine=db.create_engine(conn_str)

con = engine.connect()

df = pd.read_sql_table('Churn_Prediction', con)
print(df)

      customer_id  credit_score  age  tenure    balance  products_number  \
0        15634602           619   42       2       0.00                1
1        15647311           608   41       1   83807.86                1
2        15619304           502   42       8  159660.80                3
3        15701354           699   39       1       0.00                2
4        15737888           850   43       2  125510.82                1
...           ...           ...  ...     ...        ...              ...
9995     15606229           771   39       5       0.00                2
9996     15569892           516   35      10   57369.61                1
9997     15584532           709   36       7       0.00                1
9998     15682355           772   42       3   75075.31                2
9999     15628319           792   28       4  130142.79                1

      credit_card  active_member  estimated_salary  churn_binary
0            True           True         101348.88          True
1           False           True         112542.58         False
2            True          False         113931.57          True
3           False          False          93826.63         False
4            True           True          79084.10         False
...           ...            ...               ...           ...
9995         True          False          96270.64         False
9996         True           True         101699.77         False
9997        False           True          42085.58          True
9998         True          False          92888.52          True
9999         True          False          38190.78         False

[10000 rows x 10 columns]

In [2]:
train_ratio = 0.8
train_size = int(train_ratio * len(df))
train_data = df[:train_size]
test_data = df[train_size:]

In [3]:
train_data.head()

,customer_id,credit_score,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn_binary
0,15634602,619,42,2,0.00,1,True,True,101348.88,True
1,15647311,608,41,1,83807.86,1,False,True,112542.58,False
2,15619304,502,42,8,159660.80,3,True,False,113931.57,True
3,15701354,699,39,1,0.00,2,False,False,93826.63,False
4,15737888,850,43,2,125510.82,1,True,True,79084.10,False

In [4]:
train_data = pd.DataFrame(train_data)
test_data = pd.DataFrame(test_data)

In [5]:
train_data.to_sql(con=engine, name='Training_Data', if_exists='replace', index=False)
test_data.to_sql(con=engine, name='Testing_Data', if_exists='replace', index=False)

119

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score, accuracy_score, precision_score, recall_score

In [12]:
X_train = train_data[['credit_score', 'age', 'tenure', 'balance', 'products_number', 'credit_card', 'active_member', 'estimated_salary']]
y_train = train_data['churn_binary']

X_test = test_data[['credit_score', 'age', 'tenure', 'balance', 'products_number', 'credit_card', 'active_member', 'estimated_salary']]
y_test = test_data['churn_binary']

In [13]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [14]:
y_pred = model.predict(X_test)

In [15]:
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print(f'Accuracy: {accuracy:.2f}')
print(f'Precision: {precision:.2f}')
print(f'Recall: {recall:.2f}')
print(f'F1-score: {f1:.2f}')

Accuracy: 0.80
Precision: 0.35
Recall: 0.06
F1-score: 0.10